version: '3'
services:
  app:
    container_name: docker-node-mongo
    image: mohsin/efuse
    restart: always
    build: .
    ports:
      - '5000:5000'
    external_links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - '27017:27017'
  redis:
    container_name: redis
    image: redis
    ports:
      - "6379:6379"